# Gradle files
.gradle/
/build

# Local configuration files
local.properties

# Android Studio / IntelliJ files
*.iml
.idea/

# Android build outputs
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# Log/OS Files
*.log
*.hprof
.DS_Store

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json
